<section class="intro">
<h1>Where to find us and contact information</h1>
<p>
  To contact the Club e-mail 
  <a href="mailto:cheamcroquetbowlsclub@gmail.com">
    cheamcroquetbowlsclub@gmail.com</a>
  or phone 0208 642 0533.
</p>
<p>
  The Club is located in Cheam Recreation Ground, Tudor Close, Cheam, Sutton, Surrey SM3 8QS.  (This address should not be used for correspondence.)
</p>
<p>
  Directions: From the A2043 just north of Cheam Village turn into Tudor Close. At the end of the road go through gates to enter the free car park. The Club (marked Bowling Green on the map) is just inside the Recreation Ground opposite a children’s playground.
</p>
</section>
