<section class="intro">
  <h1>Cheam's Croquet and Bowls Club</h1>
  <p>
    Welcome to the Cheam Croquet and Bowls Club's web site. You will find here the details 
    of how to contact and join us, together with some basic information about croquet and 
    bowls. Currently we have 78 members, with 66 primarily playing Croquet and 12 primarily playing Bowls.
  </p>
  <p>
    There are Club sessions for Golf Croquet on Tuesday and Wednesday mornings, Thursday and Sunday afternoons and Wednesday evening. There is one session for Association Croquet each Sunday morning and two sessions for Bowls on Monday and Wednesday afternoons.
  </p>
</section>
