<section class="intro">
  <h1>Joining the Club</h1>
  <p>
    To join the Club you should contact the Secretary, Jean Cobbold, by e-mail <a href="mailto:cheamcroquetbowlsclub@gmail.com">
    cheamcroquetbowlsclub@gmail.com</a>
    or phone 0208642 0533. The Club’s year runs from 1st April. The annual subscription is £75. There is no joining fee.
  </p>
  <p>
    There is currently a waiting list for croquet membership but not for bowls membership.
  </p>
</section>



